/* 폰트적용 */
/* 
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:wght@200;300;600&family=IBM+Plex+Sans+KR:wght@500&display=swap");
html > body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.body {
  width: 100%;
  height: 100%;
}
/* 라이브러리 */

/* 상단 메뉴바 작업*/

:root {
  --menu-height: 80px;
  --con1-height: 160px;
}

header {
  width: 100%;
  height: var(--menu-height);
  border-bottom: solid 1.4px rgb(231, 231, 227);
}
.top-bar {
  height: var(--menu-height);
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}

.flex-grow {
  flex-grow: 0.12;
}

.logo-img {
  object-fit: cover;
  width: 80%;
  height: 40%;
  padding-top: 4px;
  margin: auto;
}

.menu-ul {
  width: 30%;
}

.menu-ul > ul {
  display: flex;
  justify-content: center;
}
.menu-ul > ul > li > a {
  font-size: 0.9rem;

  padding: 11px 23px;
}
.menu-ul > ul > li:hover > a {
  text-decoration: underline;
}

.logo-img > img {
  max-width: 100%;
  height: auto;
}

.menu-ul > ul > li:nth-child(6) > a {
  margin-left: 14px;
  background-color: rgb(253, 233, 51);
  border-radius: 40px;
}

/* 상단 메뉴바 작업 끝*/

/* 콘텐트 1 */
.content-1-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 521px;
}

.logo-img {
  object-fit: cover;
  width: 80%;
  height: 40%;
  margin: auto;
}

.content-1-con {
  display: flex;
  height: 583px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 238, 118);
  position: relative;
}

.con1-box {
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 640px;
  margin: auto;
}

.con1-box > img {
  max-width: 100%;
  height: auto;
}

.con1-txt {
  position: absolute;

  left: 37%;
  top: 54%;
  margin-left: -150px;
  margin-top: -150px;
}

.con1-txt > span {
  font-size: 2.3em;
  font-weight: 700;
}

.con1-txt > p:nth-child(2) {
  padding: 8px 6px;
  font-size: 0.75rem;
  font-weight: 500;
}

.con1-txt > p:nth-child(3) {
  padding: 8px 3px;
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: underline;
}

.con1-txt > ul {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.con1-txt > ul > li {
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

.con1-txt > ul > li:nth-child(1) {
  background-image: url("../imgs/google-play\ \(1\).png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 16% 46%;
}
.con1-txt > ul > li:nth-child(2) {
  background-image: url("../imgs/apple.png");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 19% 46%;
}
.con1-txt > ul > li:nth-child(1) > a {
  padding-left: 44px;
  padding-right: 22px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.con1-txt > ul > li:nth-child(1):hover > a {
  text-decoration: underline;
}

.con1-txt > ul > li:nth-child(2) > a {
  padding-left: 44px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.con1-txt > ul > li:nth-child(2):hover > a {
  text-decoration: underline;
}

.con1-txt > ul > li > a {
  display: block;
}

@media (max-width: 1660px) {
  .content-1-con {
    width: 1660px;
  }
  .top-bar {
    width: 1700px;
  }
}

/* 콘텐트 1 끝*/

/* 콘텐트 2 */
.content-2-con {
  display: flex;
  margin-top: 120px;
  padding-bottom: 25px;
  border-bottom: solid rgb(250, 247, 247) 20px;
}

.con2-box {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 500px;
  margin: auto;
  position: relative;
}
.con2-box > img {
  max-width: 100%;
  height: auto;
}

.con2-txt {
  position: absolute;
  left: 75%;
  top: 54%;
  margin-left: -150px;
  margin-top: -120px;
}
.con2-txt > span {
  font-size: 35px;
  font-weight: 1000;
}
.con2-txt > p {
  font-size: 0.7rem;

  padding: 12px;
  margin-left: -7px;
}

.con2-txt p:nth-child(3) {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgb(250, 247, 247);
  margin-left: -0px;
  width: 160px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.con2-txt p:nth-child(3):hover a {
  text-decoration: underline;
}

/* 콘텐트 2 끝*/

/* 콘텐트 3 */
.content-3-con {
  display: flex;
  border-bottom: solid rgb(250, 247, 247) 20px;
}
.con3-box {
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  height: 570px;
  margin: auto;
  position: relative;
}
.con3-box > img {
  max-width: 100%;
  height: auto;
}

.con3-txt {
  left: 50px;
  height: 100%;
  margin-top: 120px;
  position: absolute;
}

.con3-txt > span {
  font-size: 35px;
  font-weight: 1000;
}

.con3-txt > p {
  font-size: 0.7rem;

  padding: 12px;
  margin-left: -10px;
}

.con3-txt > ul {
  display: flex;
  width: 235px;
  justify-content: space-around;
  margin-top: 20px;
}

.con3-txt > ul li > a {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: rgb(250, 247, 247);
  padding: 14px 35px;
  border-radius: 5px;
}

.con3-txt > ul li:hover > a {
  text-decoration: underline;
}

.con3-txt-img-box {
  display: flex;
  margin-top: 50px;
  width: 120px;
  height: 80px;
}

/* 콘텐트 3 끝*/

/* 콘텐트 4 시작*/

.content-4-con {
  margin-top: 60px;
  padding-bottom: 40px;
}
.con4-txt {
  margin-left: -120px;
  margin-top: -130px;
}

.gray-col {
  color: rgb(94, 93, 93);
}
.gray-col2 {
  color: rgb(59, 58, 58);
}

/* 콘텐트 4 끝*/

/* 콘텐트 5 시작*/

.con5-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 750px;
  height: 300px;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
}

.con5-box > img {
  max-width: 100%;
  height: auto;
}
.con5-txt {
  left: 50px;
  height: 100%;
  margin-top: 50px;
  position: absolute;
}
.con5-txt > p > a {
  padding: 15px 65px;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
}

.con5-txt > p:hover > a {
  text-decoration: underline;
}

/* 콘텐트 5 끝*/

/* 콘텐트 6 시작*/
.content-6-con {
  margin-top: 40px;
}
.con6-box {
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 550px;
  margin: auto;
  position: relative;
}
.con6-box > img {
  max-width: 100%;
  height: auto;
}

/* 콘텐트 6 끝*/

/* 콘텐트 7 시작*/

.content-7-con {
  display: flex;
  width: 100%;
  height: 920px;
  background-color: rgb(75, 80, 71);
}

.con7-box {
  width: 100%;
  height: 100%;
}

.img-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.before-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: coral;
}

.after-img {
  width: 100%;
  height: 0px;
  position: absolute;
  background-color: cornflowerblue;

  transition: transform 0.5s;

  color: rgb(47, 47, 56);
}

.box {
  width: 100%;
  height: 920px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.b {
  height: 920px;
  width: 100%;
  background-color: #4caaf7;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  height: 920px;
  top: 920px;
  width: 100%;
  background-color: rgb(60, 60, 85);
  position: absolute;
  transition: all 1.4s;
}

.moon-star-box > div {
  transition: all 1s;
  z-index: 20;
}

.moon-star-box {
  width: 1700px;
  height: 100%;
  position: relative;

  z-index: 1000;
}

.moon-before {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  width: 100px;
  height: 100px;
  background: rgb(245, 219, 72);
  border-radius: 50%;
}

.moon-after {
  position: absolute;

  width: 100px;
  height: 100px;
  border-radius: 70%;
  box-shadow: 20px 20px 0 0 white;
}

.moon-star-box > div {
  top: 17%;
  left: 75%;
}

.moon-star-box > span {
  position: absolute;
  display: none;
  width: 4px;
  height: 3px;
  background: snow;
  box-shadow: 0px 0px 5px snow;
  border-radius: 50%;
  animation: mymove 3s infinite;
  z-index: 30;
}
.moon-star-box > span:nth-child(1) {
  top: 70%;
  left: 50%;
}

@keyframes mymove {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.event {
  top: 0;
}

.moon-star-box > .block {
  display: block;
  z-index: 200;
}

.txt-box {
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  height: 250px;

  z-index: 200;
  top: 15%;
}

.txt-box > span {
  font-size: 42px;
  font-weight: 600;
}

.txt-box > p:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 200;
  color: rgb(189, 189, 189);
}

.txt-select-box {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.txt-select-box > p {
  font-size: 17px;
  font-weight: 300;
  margin: 0 3px;
  display: flex;
}
.txt-select-box > p > a {
  display: block;
  width: 135px;
  background-color: rgba(223, 223, 223, 0.2);
  border-radius: 10px;
  padding: 14px 15px;
}
.txt-select-box > p:hover > a {
  text-decoration: underline;
}

.img-box-con {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 33%;
  width: 500px;
  transform: scale(0.8);
}
.box > .img-box-con > img {
  width: 440px;
  height: 690px;
  object-fit: cover;
}

.moon-star-box > span {
  position: absolute;
}
.moon-star-box > span:nth-child(2) {
  top: 10%;
  left: 20%;
}
.moon-star-box > span:nth-child(3) {
  top: 25%;
  left: 13%;
  animation: mymove 4.5s infinite;
}
.moon-star-box > span:nth-child(4) {
  top: 32%;
  left: 5%;
  animation: mymove 2s infinite;
}

.moon-star-box > span:nth-child(5) {
  top: 65%;
  left: 19%;
  animation: mymove 4.5s infinite;
}

.moon-star-box > span:nth-child(6) {
  top: 45%;
  left: 75%;
}

.moon-star-box > span:nth-child(7) {
  top: 65%;
  left: 79%;
  animation: mymove 2s infinite;
}

.moon-star-box > span:nth-child(8) {
  top: 42%;
  left: 92%;
}
/* 콘텐트 7 끝*/

/* 콘텐트 8 시작*/
.content-8-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con8-box {
  margin: 125px auto;
  margin-bottom: 15px;
  /* border: solid blueviolet 4px; */
  position: relative;
}

.con8-txt {
  text-align: center;
}
.con8-txt > span {
  font-size: 35px;
  font-weight: 600;
}

.con8-txt > p {
  margin-top: 20px;
  color: rgb(107, 106, 106);
  font-weight: 200;
}
.con8-txt > p:nth-child(3) {
  font-size: 14px;
  margin-top: 45px;
  color: black;
  font-weight: 600;
}
.con8-txt > p:nth-child(3) > a {
  border-radius: 12px;
  padding: 14px 20px;
  background-color: rgb(250, 247, 247);
}
.con8-txt > p:nth-child(3):hover > a {
  text-decoration: underline;
}

.con8-card-slider-box {
  padding: 70px;
  display: flex;
}

/* 슬라이더 */
.slider-1 {
  position: relative;
  width: 580px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-1 > section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.3s;
}

.slider-1 > section > img {
  width: 410px;
  height: 390px;
  object-fit: cover;
}

.slider-1 > :is(section.pos-3) {
  z-index: 3;
}

.slider-1 > :is(section.pos-2, section.pos-4) {
  transform: translate(-160%, -50%) scale(0.9);
  z-index: 2;
}

.slider-1 > :is(section.pos-4) {
  transform: translate(70%, -50%) scale(0.9);
}

.slider-1 > :is(section.pos-1, section.pos-5) {
  transform: translate(-150%, -50%) scale(0.8);
  z-index: 1;
}

.slider-1 > :is(section.pos-5) {
  transform: translate(60%, -50%) scale(0.8);
}

.slider-1 > :nth-child(1) {
  background-color: pink;
}

.slider-1 > :nth-child(2) {
  background-color: gold;
}

.slider-1 > :nth-child(3) {
  background-color: green;
}

.slider-1 > :nth-child(4) {
  background-color: darkgoldenrod;
}

.slider-1 > :nth-child(5) {
  background-color: darkorange;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button > img {
  display: block;
  width: 40px;
  height: 76px;
}

.a1 {
  position: absolute;
  top: 55%;
  left: -10%;
}

.a2 {
  position: absolute;
  top: 55%;
  left: 104.5%;
}

/* 콘텐트 8 끝*/

/* 콘텐트 9 시작*/

.content-9-con {
  display: flex;
  background-color: rgb(248, 247, 247);
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 210px;
}

.con9-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 800px;
  height: 500px;
}
.con9-box > img {
  max-width: 100%;
  height: auto;
}
.txt-box-under-line {
  width: 80px;
  height: 140px;
  position: absolute;
  border-bottom: solid black 1.1px;
}
.con9-txt {
  text-align: center;
  margin-bottom: 140px;
}

.con9-txt > span {
  font-size: 35px;
  font-weight: 600;
  margin: auto;
  color: rgb(65, 65, 65);
}

.img-txt-span-box {
  margin-top: 40px;
  display: flex;
  width: 850px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
}

.img-txt-span-box span:nth-child(1) {
  margin-left: 75px;
  margin-right: 52px;
}
.img-txt-span-box span:nth-child(2) {
  margin-right: 235px;
}

.img-txt-p-box {
  font-size: 0.7rem;

  color: rgb(136, 136, 136);
  display: flex;
  width: 850px;
  height: 600px;

  text-align: center;
}

.img-txt-p-box p:nth-child(1) {
  padding-left: 65px;
  padding-right: 50px;
}
.img-txt-p-box p:nth-child(2) {
  padding-left: 8px;
  padding-right: 50px;
}

.img-txt-p-box p:nth-child(3) {
  padding-left: 197px;
}

/* 콘텐트 9 끝*/

/* footer */

footer {
  background-color: rgb(236, 236, 236);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ft-span-box {
  margin-top: 22px;
  width: 835px;
  height: 40px;
  font-size: 0.3rem;
  color: rgb(124, 124, 124);
}

.ft-span-box span:nth-child(3),
span:nth-child(4),
span:nth-child(5) {
  color: black;
  font-weight: bold;
}

.web-acc-sns-box {
  display: flex;
  width: 835px;
  height: 50px;
  justify-content: space-between;
}

.web-acc-box {
  background-image: url("../imgs/11.png");
  width: 370px;
  height: 50px;
  color: rgb(48, 47, 47);
  font-size: 0.4rem;
  padding-left: 49px;
  background-size: 45px 35px;
  background-repeat: no-repeat;

  position: relative;
}
.web-acc-box span:nth-child(1) {
  flex-grow: 1;
}
.web-acc-box span:nth-child(2) {
  top: 10px;
  left: 54px;
  position: absolute;
}

.sns-box {
  display: flex;
  flex-direction: row-reverse;
  width: 200px;
}
.sns-box img {
  padding: 10px 3px;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(102, 101, 101));
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(102, 101, 101));
}

.fb,
.ins,
.yt,
.bl {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 18px;
}

/* footer 끝*/
